.my-card {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  width: 35%;
  margin: 35px;
  display: flex;
  height: 300px;
}

.card-img {
  width: 150px;
  height: 100%;
  filter: grayscale();
  object-fit: cover;
  transition: 0.3s ease;
}

.card-img:hover {
  filter: none;
  transform: scale(1.05);
}

.text {
  text-align: justify;
  font-weight: 400;
}

.text-contents {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 15px;
  margin-top: 15px;
}

.title {
  font-size: 24px;
  font-weight: 700;
}

.dob {
  font-size: 20px;
  font-weight: 500;
}

@media screen and (max-width: 768px) {
  .my-card {
    width: 85%;
    height: 200px;
  }
  .card-img {
    width: 100px;
  }

  .text {
    word-wrap: break-word;
    overflow-wrap: break-word;
    font-size: 8px;
  }
  .title {
    font-size: 12px;
    font-weight: 700;
  }

  .dob {
    font-size: 10px;
    font-weight: 500;
  }
}
